{block content}
<div id="banner">
	<h1 n:block=title class="main_title">Nette Ideas!</h1>
</div>

<div id="content">
	<h1>Latest ideas:</h1>
	<br>
	<div n:foreach="$ideas as $idea" class="idea">
		<h2>{$idea->title}</h2>
		<p>{$idea->description}</p>
		<br>
		<a n:href="Idea:show $idea->id">details</a>
	</div>
</div>
